<div class="row">

  <div class="formContainer">

    <form [formGroup] = "jobForm" (ngSubmit)="onSubmit()">

      <div class="row">

        <div class="form_group_1">
      
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput type="text"  formControlName="name">
          </mat-form-field>
          
        </div>

        <div class="form_group_1">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="text"  formControlName="email" class="form-control">
          </mat-form-field>
        </div>

      </div>

      <div class="row">
          <div class="form_group_2">
            <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <textarea matInput cols="30" rows="5" class="textarea" formControlName="address"></textarea>
            </mat-form-field>
          </div>
      </div>

      <div class="row">
        <div class="form_group_3">
          <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country" (selectionChange)=getState($event)>
              <mat-option *ngFor="let each of countries" [value]=each.id>
                {{each.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form_group_3">
          <mat-form-field appearance="fill">
            <mat-label>State</mat-label>
            <mat-select formControlName="state" (selectionChange)="getcity($event)">
              <mat-option *ngFor="let each of state" [value]=each.id>
                {{each.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form_group_3">
          <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <mat-select formControlName="city">
              <mat-option *ngFor="let each of city" [value]=each.id>
                {{each.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>

      <div class="row">
          <div class="location" formGroupName="location">
            <label>Preferred Location:</label><br>
            <mat-checkbox formControlName="blr">Bangalore</mat-checkbox>
            <mat-checkbox formControlName="chennai">Chennai</mat-checkbox>
            <mat-checkbox formControlName="delhi">Delhi</mat-checkbox>
            <mat-checkbox formControlName="mumbai">Mumbai</mat-checkbox>
          </div>
      </div>

      <div class="row">
        <div class="form_group_1">
          <label for="experience">Are you experienced?</label>
          <mat-radio-group formControlName="experience">
            <mat-radio-button value="yes" (click)="setExperience('true')">YES</mat-radio-button>
            <mat-radio-button value="no" (click)="setExperience('false')">NO</mat-radio-button>
          </mat-radio-group>
        </div>
        <div *ngIf="showYrs" class="form_group_1">
          <mat-form-field appearance="fill">
            <mat-label>Years</mat-label>
            <input matInput type="text"   formControlName="years" class="form-control">
          </mat-form-field>
        </div>
      </div>

      <br>

      <div class="row ">
        <div class="custom_box">
          <h3>Skills</h3>
          <div *ngFor="let skillgroup of jobForm.get('skills')['controls']; let i=index"
          [formGroup] = "skillgroup">
          <div class="form_group_3">
            <mat-form-field appearance="fill">
              <mat-label>Skill Name</mat-label>
              <input matInput type="text"  formControlName="skillname" class="form-control">
            </mat-form-field>
          </div>
          <div class="form_group_3">
            <mat-form-field appearance="fill">
              <mat-label>Description</mat-label>
              <input matInput type="text"  formControlName="description" class="form-control">
            </mat-form-field>
          </div>
          <div class="form_group_3">
            <mat-form-field appearance="fill">
              <mat-label>Level</mat-label>
              <input matInput type="text"  formControlName="level" class="form-control">
            </mat-form-field>
          </div>
          </div>
          <div class="row">
            <button type="button" mat-raised-button (click)="createArray()">Add Skill</button>
          </div>
        </div>
      </div>

      <div class="row">
        <button  mat-raised-button type="submit">Submit</button>
      </div>

    </form>

  </div>

  <div *ngIf="showpopup" class="popup">
    <div class="popup_inner">
      <h3>Confirm Form Submission</h3>
      <button type="button" mat-raised-button (click)="saveForm()">YES</button>
      <button type="button" mat-raised-button (click)="back()">NO</button>
    </div>
  </div>
</div>